@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Montez&display=swap');
$gray :#c6c6c6;
$coral :#fc5a61;
$text :#2c2c2c;
$block :#1c1c1c;
$whte :#ffff;
body {
  margin: 0;
}
.wrap {
  width: 1170px;
  margin: 0 auto;
}
.header {
display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  height: 100px;
  &__list {
    display: flex;
    list-style-type: none;
  }
  &__item {
    margin-left: 20px;
    margin-right: 20px;
  }
  &__link {
    text-decoration: none;
    font-size: 16px;
    font-family: "Athiti", sans-serif;
    font-weight: Bold;
    color: $text;
    &:hover{
    color: #fc5a61;
  }
  }
  &__logo {
    font-size: 29px;
    font-weight: bold;
    font-family: "Athiti", sans-serif;
    text-decoration: none;
    color: $text;
    text-transform: capitalize;
  }
  &__button {
  background-color: $coral;
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Athiti", sans-serif;
    font-weight: 500;
    color: #ffffff;
  }
}
.container {
  background-color:$gray ;
  height: 820px;
  position: relative;
  &__text {
    font-size: 80px;
    font-family: 'Montez', cursive;
    span {
      font-size: 140px;
      margin: 0;
      padding: 0;
      color: #fc5a61;
    }
    p{
      margin: 0;
      font-family: 'Athiti', sans-serif;
      font-size: 80px;
      line-height: 0.262;
      font-weight: bold;
    }
  }
  &__center {
    width: 790px;
    height: 145px;
    background-color: #f6f3ed;
    position: absolute;
    bottom: 0;
    left: 530px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-family: "Athiti", sans-serif;
    font-size: 36px;
    font-weight: bold;
    p{
      font-size: 21px;
      margin: 0;
    }
  }
}
.welcome {
  height: 670px;
  margin-top: 150px;
  background-image: url("../img/bg.png");
  &__wel {
    display: flex;
    justify-content: space-between;
  }
  &__alex {
    height: 335px;
    width: 329px;
    text-align: center;
    h2 {
      font-size: 38px;
      color: $coral;
      font-family: "Athiti", sans-serif;
      margin: 0;
    }
    p {
      font-size: 16px;
      font-family: "Athiti", sans-serif;
      font-weight: 500;
      color: #262626;
      line-height: 1;
      margin: 0;
    }
  }
  &__text {
    margin-top: 60px;
    font-family: "Montez", cursive;
    text-align: center;
    h2 {
      margin: 0;
      font-size: 109px;
    }
    p {
      font-size: 15px;
      font-family: "Athiti", sans-serif;
      font-weight: 500;
      margin: 0;
    }
  }
  &__kris {
    height: 335px;
    width: 329px;
    text-align: center;
    h2 {
      font-size: 38px;
      color: $coral;
      font-family: "Athiti", sans-serif;
      margin: 0;
    }
    p {
      font-size: 16px;
      font-family: "Athiti", sans-serif;
      font-weight: 500;
      color: #262626;
      line-height: 1;
      margin: 0;
    }
  }
  .span {
    all: inherit;
    font-size: 26px;
    font-family: "Athiti", sans-serif;
    font-weight: bold;
    color: #fc5a61;
    margin: 0;
  }
}
.event {
  background-color: $block;
  text-align: center;
  padding-top: 123px;
  height: 1190px;
  h2 {
    font-family: "Montez", cursive;
    font-size: 119px;
    color: $whte;
  }
  &__main {
    display: flex;
    justify-content: space-evenly;
    padding-top: 70px;
  }
  &__cerem {
    width: 555px;
    height: 675px;
    background-color:$whte ;
  }
  &__party {
    width: 555px;
    height: 675px;
    background-color: $whte;
  }
  &__top1 {
    background-color: #de5057;
    height: 115px;
    h2{
      margin: 0;
      font-size: 56px;
      padding-top: 17px;
      letter-spacing: 1px;
    }
  }
  &__top2 {
    background-color: #d2527f;
    height: 115px;
    h2{
      margin: 0;
      font-size: 56px;
      padding-top: 17px;
      letter-spacing: 1px;
    }
  }
  &__time {
    width: 360px;
    height: 85px;
    background-image: url("../img/ram2.png");
    margin-left: 100px;
    margin-top: 45px;
    h2 {
      margin: 0;
      font-size: 25px;
      font-family: 'Titillium Web', sans-serif;
      font-weight: bold;
      color: $text;
      padding-top: 20px;
    }
  }
  &__club {
    padding-top: 63px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
  }
  img {
    margin-top: 35px;
  }
}
.time {
  text-align: center;
  height: 950px;
  background-color: #f5f5f5;
  padding-top: 100px;
  h2 {
    font-family: "Montez", cursive;
    font-size: 62px;
  }
  .slider {
    display: flex;
    align-items: center;
    margin-top: 115px;
  }
  &__circle {
    width: 340px;
    height: 340px;
    background-color: #5d5d5d;
    border-radius: 50%;
    margin-left: 25px;
    margin-bottom: 40px;
  }
.cat {
  height: 550px;
  text-align: center;
  width: 340px;
  h2 {
    font-size: 25px;
    font-family: "Athiti", sans-serif;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    margin: 0;
  }
  p {
    font-size: 16px;
    font-family: "Athiti", sans-serif;
    font-weight: 500;
    color: #515151;
    max-width: 350px;
    line-height: 1.5;
    margin-top: 40px;
  }
}
}
.Featured {
  background-color: #232323;
  height: 560px;
  &__text {
    display: flex;
    padding-top: 150px;
  }
  &__left {
    flex-basis: 50%;
    border-right: dashed 1px #fff;
    p{
      font-family: "Athiti", sans-serif;
      font-size: 16px;
     padding-right: 65px;
      color: #ffffff;
      padding-top: 65px;
    }
  }
  &__right {
    font-family: "Montez", cursive;
    color: #ffffff;
    padding-left: 65px;
    font-size: 72px;
    padding-top: 20px;

    h2 {
      font-family: "Athiti", sans-serif;
      font-size: 72px;
      margin: 0;
      line-height: 1;
    }
  }
}
.Gallery {
  text-align: center;
  h2{
    font-size: 70px;
    font-family: "Montez", cursive;
    font-weight: 500;
  }
  p{

  }
  &__foto, &__foto2 {
    display: flex;
    justify-content: space-evenly;
  }
  &__foto {
    padding-top: 100px;
  }
  &__fot1, &__fot2, &__fot3 {
    width: 365px;
    height: 365px;
    background-color: #313131;
    &:hover {
      background-color: #fc5a61;
    }
  }
  &__foto2 {
    padding-top: 20px;
  }
}

